/* (သင့်ရဲ့ CSS code များကိုဤနေရာတွင်ထည့်ပါ) */
/* ဥပမာ - */
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}
/* အခြားလိုအပ်သော styling များကိုထည့်သွင်းပါ။ */
